<div class="shadow-2xl flex justify-between border gap-3 m-4 rounded-lg text-center border-gray-300">
    <div class="flex flex-col flex-1">
        <h2 class="text-4xl font-semibold text-sky-600">{{ item().titulo }}</h2>
        <p class="text-neutral-800 text-2xl font-light">{{ item().mensagem }}</p>
        <p class="bg-green-600 border p-2 rounded-xl m-a text-white m-auto">{{ item().status }}</p>
    </div>

    <div>
        <p class="p-3 text-red-500">X</p>
    </div>

    <div>
        <button type="button" (click)="onConcluir()">Concluir</button>
    </div>
</div>