<header class="flex bg-slate-800 rounded-xl border border-white/25 justify-between  items-center gap-5">
    
    <button type="button" class="md:hidden flex ml-3 " (click)="toggleMenu.emit()">
        <lucide-angular [img]="icons.Menu" class="dark:text-white"></lucide-angular>
    </button>

    <div class="bg-slate-600/70 p-2 m-auto md:m-3 rounded-md">
        <input type="text" class="p-1 w-full border border-none  text-white 
        " placeholder="Buscar...">
    </div>

    <div class="flex gap-2 justify-end-safe items-center bg-slate-600/70 rounded-lg p-1 m-2">
        <div class="">
            <p class="bg-white rounded-full px-4 py-2 w-max text-center justify-self-end ">S</p>

        </div>
        <div class="">
            <app-level-layout class=" "></app-level-layout>
        </div>
    </div>
</header>

