<header class="flex bg-slate-800 rounded-xl border border-white/25 justify-between  items-center gap-5">
    
    <button type="button" class="md:hidden flex ml-3 " (click)="toggleMenu.emit()">
        <lucide-angular [img]="icons.Menu" class="dark:text-white"></lucide-angular>
    </button>

    <div class="bg-slate-700/70 p-2 m-auto md:m-3 rounded-md">
        <input type="text" class="p-1 w-full border border-none  text-white 
        " placeholder="Buscar...">
    </div>

    <div class="flex gap-2 justify-end-safe items-center  rounded-lg p-4">
        <div class="bg-white rounded-full px-5 py-3 w-max text-center justify-self-end">
            S
            <img src="" alt="">

        </div>
        <div>
            <app-level-layout></app-level-layout>
        </div>
    </div>
</header>

