

@if (vm().loading) {
    <p>Carregando...</p>
}

@if (!vm().loading && vm().lembretes.length === 0) {
    <p>Nenhum lembrete.</p>
}


<div  class="grid  grid-cols-1 md:grid-cols-3 gap-4 ">

    @for (l of vm().lembretes; track l.id) {
        
            <app-lembrete-card   [item]="l" (concluir)="concluido(l.id)" [concluidoOk]="true" ></app-lembrete-card>
    
    
    }
</div>

<div class="flex text-center gap-2 mt-4">
    <button (click)="prev()" > Anterior</button>
    <span>Página {{ vm().page + 1 }} de {{ vm().totalPages }}</span>
    <button (click)="next()" >Próximo</button>
</div>
